.App {
  background-color: rgb(3, 30, 30);
  color: white;
  font-family: 'Arial', sans-serif;
}

section {
  padding: 4rem 2rem;
  border-bottom: 1px solid #cf2c2c;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 60rem;
  margin: 0 auto;
}